<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="" class="nav-link" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="getnotifications" class="nav-link" routerLinkActive="active">
          Notifications
        </a>
      </li>
    </ul>
  </div>
</nav>

<br />
<div class="container">
  <router-outlet></router-outlet>
</div>


<app-footer class="mt-auto border-top px-3 text-center"></app-footer>